.container {
  max-width: 114rem;
  display: flex;
  margin: 0 auto;
}

.text-white {
  color: #fff;
}

.is-bold {
  font-weight: 700;
}

.is-thin {
  font-weight: 100;
}

.is-light {
  font-weight: 300;
}

.is-semibold {
  font-weight: 600;
}

.mb-small {
  margin-bottom: 1.5rem;
}
.mb-medium {
  margin-bottom: 3rem;
}
.mb-big {
  margin-bottom: 6rem;
}

.is-upper {
  text-transform: uppercase;
}
.is-lower {
  text-transform: lowercase;
}
.is-capital {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
